body {
  margin: 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background-color: #B689C0;
  color: #FFD700;
  font-weight: 900;
}

h1 {
  font-size: 4.6875em;
  margin-top: 0;
  font-family: 'Montez', cursive;
  color: darkgray;
  text-shadow:
    0 0 5px black,
    0 0 10px black,
    0 0 15px black;
}

h2 {
  font-size: 1.75rem;
  color: darkgray;
  text-shadow:
    0 0 5px black,
    0 0 10px black,
    0 0 15px black;
}

h3 {
  font-size: 1.30rem;
  color: darkgray;
  text-shadow:
    0 0 5px black,
    0 0 10px black,
    0 0 15px black;
}

hr {
  height: 2px;
  width: 10%;
  border-style: dotted none none none;
  border-color: gray;
  border-width: .5em;
  margin-top: 60px;
  margin-bottom: 60px;
}

.top-container {
  background-color: #B689C0;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #B689C0;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.pfp {
  height: 250px;
  width: 250px;
  border-radius: 75%;
}

.code-png {
  height: 25%;
  width: 25%;
  border-radius: 100%;
  float: left;
  margin-top: 15px;
  margin-right: 25px;
}


.blender-png {
  height: 25%;
  width: 25%;
  border-radius: 100%;
  float: right;
  margin-left: 30px;
  margin-top: 15px;
}

.bottom-container {
  background-color: #B689C0;
}

.web:hover {
  background-color: gray;
}

.bottom-cloud {
  position: absolute;
}

.top-cloud {
  margin-top: 75px;
  margin-left: 425px;
}

.button {
  border-radius: 8px;
  background-color: #11cdd4;

  border: none;
}

.button:hover{
  border-radius: 8px;
  background-color: #30e3cb;
  border: none;
}
